<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Open source activity</h3>
    </header>
    <p>
        <span class="label">GitHub:</span>
        <span>
            <a href="https://github.com/satrapu">https://github.com/satrapu</a>
        </span>
    </p>
    <p>
        <span class="label">Bitbucket:</span>
        <span>
            <a href="https://bitbucket.org/satrapu">https://bitbucket.org/satrapu</a>
        </span>
    </p>
    <p>
        <span class="label">SourceForge.net:</span>
        <span>
            <a href="http://sourceforge.net/users/satrapu">http://sourceforge.net/users/satrapu</a>
        </span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Professional activity</h3>
    </header>
    <p>
        <span class="label">LinkedIn:</span>
        <span>
            <a href="https://www.linkedin.com/in/bmarian">https://www.linkedin.com/in/bmarian</a>
        </span>
    </p>
</section>