@model dynamic
<!DOCTYPE html>
<html>
    <head>
        <title>Roman Bookkeeper</title>
    </head>
    <body>
        <h1>Welcome to the Roman Bookkeeper application</h1>
        <h2>
            @Html.ActionLink("Add some numbers", "Index", "Numbers")
        </h2>
    </body>
</html>