@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <mark>Roman Bookkeeper</mark> application performs suming of two Roman or Arabic numbers using strings
            </p>
        </div>
    </section>
}
<h3>Please read the followings to better understand this application:</h3>
<ol class="round">
    <li class="one">
        <h5>Roman Numerals</h5>
        Ancient Romans used this numeric system represented by letters (I, V, X, L, C, D and M).
        <a href="http://en.wikipedia.org/wiki/Roman_number">Learn more…</a>
    </li>
    <li class="two">
        <h5>Arabic Numerals</h5>
        Easterns have invented what we currently refer as the decimal system, represented by digits (0, 1, 2, 3, 4, 5, 6, 7, 8 and 9).
        <a href="http://en.wikipedia.org/wiki/Arabic_numerals">Learn more…</a>
    </li>
</ol>
