@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Please read the followings to better understand this application:</h3>

<ol class="round">
    <li class="one">
        <h5>Purpose</h5>
        This application performs summing of two Roman numbers using strings.
    </li>
    <li class="two">
        <h5>Roman Numerals</h5>
        Ancient Romans used this numeric system represented by letters (I, V, X, L, C, D and M).
        Click <a href="http://en.wikipedia.org/wiki/Roman_number">here</a> to learn more.
    </li>
    <li class="three">
        <h5>Source code</h5>
        The source code for this application can be found <a href="https://github.com/satrapu/NUniverse.RomanBookkeeper">here</a>.
    </li>
</ol>